
.stats{
  margin-bottom: 0rem;
  width: 9rem;
}
.statHeader{

}
.statsLabel{
  //position: relative;
	//display: block;
  //float: left;
  text-align: center;
	background: #eee;
  height: 5rem;
  padding: 10px;
  border-radius: 10px;
}

.statsPanel { 
    background: #eee;
    text-align: center;
    //word-wrap: break-word;
  }
 .plus_minus{
 	position: relative;
 	top: 10px;
 }
.skillHeader{
    position: absolute;
    right: 0.5rem;
    left: 9rem;
    top: 1rem;
    text-align: center;
    background: #eee;
    border-radius: 10px;
  }
.skillLabel{
    text-align: center;
    background: #eee;
    padding: 5px;
    border-radius: 10px;
  }
.skillsPanel{
    position: relative;
    text-align: justify;
    float: right;
  }
.saveHeader{
  position: absolute;
  right: 0.5rem;
  left: 9rem;
  top: 9rem;
  text-align: center
}
.savePanel{
  position: relative;
  text-align: justify;
  float: right;
  right: 2rem;
}
 .remind{
    text-align: right;
    float: right;
   // height: 100%;
    margin-top: 10px;
 }
  ion-button{
  	float: right;
  	border-radius: 0px;
  }
  ion-icon {
        font-size: 25px;
    }

