<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Character List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    
    <ion-item lines="none" class="toprow">
      <div class="HitContainer">
        HitPoints
        <ion-input type="text" inputmode="numeric" maxlength="3" placeholder="0" class="HitText">
          <ion-input type="text" inputmode="numeric" maxlength="3" placeholder="0" class="HitText">
            </ion-input>
            /
          </ion-input>

    </div>
    <div class="AContainer">
      AC
      <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="ACText"> </ion-input>
    </div>
    <div class="InitContainer">
      Initiative
      <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="ACText"> </ion-input>
    </div>
    </ion-item>
    <ion-item lines="none">
      <div class="PContainer">
        Proficiency
        <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="ACText"> </ion-input>
        Bonus
      </div>
    <div class="SpeedContainer">
      Speed
      <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="ACText"> </ion-input>
    </div>
    <div class="InspirContainer">
        Inspiration
        <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="ACText"> </ion-input>
      </div>
    </ion-item>
  </ion-list>
    

   <ion-list class="stats" *ngFor= "let item of items; let i=index"> <!--> Controls everything in the accordion list as a whole <!-->
    <div class="statsContainer">
      <ion-item lines="none">
        <div class="statsHeader">
            <ion-label class="statsLabel"> {{item.name}}</ion-label>
            <ion-input type="text" inputmode="numeric" maxlength="2" placeholder="0" class="statsPanel"></ion-input>
        
        </div>
    </ion-item>
    </div>
    <div class="statsMod">
      <ion-input type="text" inputmode="numeric" maxlength="2" class="statsText" placeholder="0"></ion-input>
    </div>
  </ion-list>
   <!-- <ion-label class= "skillLabel">
      <ion-icon class = "plus_minus" [name]="isGroupShown(i) ? 'arrow-up' : 'arrow-down'" size="medium">
        Skill
      <ion-label class= "skillPanel"> 
        A skill
      </ion-label>
    </ion-label> <!-->
    <ion-item lines="none" class="skillHeader"> 
        
        <div class="skillContainer">
              <ion-label> Skills <br> <br> </ion-label>
              <ion-input type="text" inputmode="numeric" maxlength="2" pattern="[0-9]+" placeholder="..." class="skillInput"  *ngFor= "let skill of skills; let i=index" > </ion-input>
        </div>
        <div class="skillContainer2">
              <ion-label class="skillPanel" *ngFor= "let skill of skills; let i=index">
                  <br>
                  {{skill.name}}
                </ion-label>
        </div>
    </ion-item>
    <ion-item lines="none" class="saveHeader"> 
      <div class="saveContainer2">
        <ion-input type="text" inputmode="numeric" maxlength="2" pattern="[0-9]+" placeholder="..." class="saveInput"  *ngFor= "let item of items; let i=index" ></ion-input>
      </div>
      <div class="saveContainer">
        
        <ion-label>
              Saving Throws
              <br> <br>
        </ion-label>
        
        <ion-label class="savePanel" *ngFor= "let item of items; let i=index">

            {{item.name}}<br>
        </ion-label>
      </div>
      
    </ion-item>
    <div class="DeathContainer">
        Death Saves <br>
          <div class="successText"> Successes</div>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <div class="successText"> Failures </div>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <ion-checkbox class="checkbox"></ion-checkbox>
          <ion-checkbox class="checkbox"></ion-checkbox>
    </div>
</ion-content>
