
.stats{
  margin-bottom: 1rem;
  width: 9rem;
}
.statsHeader{
  text-align: center;
  background-color: #eee;
  width:7rem;
  height:6rem;
  //padding: 5px;
  border-radius: 10px;
} 
.statsLabel{
  margin-top: 10px;
  text-align: center;
}

.statsPanel { 
    top: -0.5rem;
    font-size: 1.5rem;
    text-align: center;
    left: -0.4rem;
  }
.statsMod {
  position: absolute;
  margin-top: -3rem;
  margin-left: 2.55rem;
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: rgb(197, 196, 196);
}
.statsContainer{
  height: 7rem;
}
.statsText{
  text-align: center;
  font-size: 1.5rem;
  left: -0.25rem;
  top: -0.1rem;
}
 .plus_minus{
 	position: relative;
 	top: 10px;
 }
.skillHeader{
    position: absolute;
    right: 0.5rem;
    left: 9rem;
    top: 1rem;
    text-align: center;
    background: #eee;
    border-radius: 10px;
  }
.skillLabel{
    text-align: center;
    background: #eee;
    padding: 5px;
    border-radius: 10px;
  }
.skillPanel{
    position: relative;
    text-align: justify;
    float: right;
  }
.saveHeader{
  position: absolute;
  right: 0.5rem;
  left: 9rem;
  top: 9rem;
  text-align: center;
}
.saveContainer{
  background: #eee;
  width: 12rem;
  border-radius: 10px;
}
.savePanel{
  position: relative;
  text-align: justify;
  //float: right;
  left: 5rem;
  height: 2rem;
}
.saveInput{
  position: relative;
  //font-size: 1.2rem;
  //margin-right: 3.25rem;
  top: 0.85rem;
  right: 4rem;
  height: 2rem;
  
}
.saveContainer2{
  position: absolute;
  //margin-top: 2rem;
  //margin-right: 7rem;
}
 .remind{
    text-align: right;
    float: right;
   // height: 100%;
    margin-top: 10px;
 }
  ion-button{
  	float: right;
  	border-radius: 0px;
  }
  ion-icon {
        font-size: 25px;
  }