<ion-header>
  <ion-toolbar>
    <ion-title>Create Character</ion-title>
	 <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label>Name: </ion-label>
			<ion-input placeholder="..." input="text" maxlength="32" [(ngModel)]="nameEnter"></ion-input>
			
		</ion-item>
		<ion-item *ngFor= "let key of keys">
			<ion-label>{{key}}:</ion-label>
			<ion-input placeholder="..." input="text" maxlength="2" inputmode="numeric" [(ngModel)]="stats[key]"></ion-input>
		</ion-item>
		<ion-button size="full" (click)="addChar()" [routerLink] = "['/characters']">Create</ion-button>
	</ion-list>
</ion-content>
