<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-icon name="add" size="large" [routerLink] = "['/create-character']"></ion-icon>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list *ngFor= "let item of items; let i=index"> 
		<ion-item  lines="none"  (click)="toggleGroup(i)" ngClass="{active: isGroupShown(i)"> 
			<!--> accordionHeader is in charge of creating each item for the list [ngClass]="{active: isGroupShown(i)}"<!-->
				<ion-label>
					<ion-icon class = "plus_minus" [name]="isGroupShown(i) ? 'arrow-up' : 'arrow-down'" size="medium">
					</ion-icon>
					{{item[0]}
					<ion-label class= "accordionPanel" *ngIf="isGroupShown(i)"> 
						Yes
						<br>
						<ion-button [routerLink] = "['/character']">View</ion-button>
					</ion-label>
				</ion-label>
				
		</ion-item>
	</ion-list>
</ion-content>
